@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid vh-100 vw-100 p-0">
    <div class="row g-0 h-100">
        <!-- Left section -->
        <div class="col-md-6 d-flex align-items-center justify-content-center text-dark" style="background-color: #AFCBFF;">
            <div style="max-width: 450px;">
                <h1 class="fw-bold mb-4">Let <span class="text-primary">SetTheDate</span><br />Help you</h1>
                <p class="mb-3">Planning a wedding? Here’s why our service might be helpful:</p>
                <ul>
                    <li>Automate your invitation process to your guests.</li>
                    <li>Gather responses seamlessly, including attendance confirmations, guest counts, and even meal preferences.</li>
                    <li>Personalize your invitations to reflect your style and make your guests feel special.</li>
                    <li>We even throw in a free landing page for your wedding, Free of Charge!</li>
                </ul>
                <p class="mt-3">Register now and explore our service now.</p>
            </div>
        </div>

        <!-- Right section -->
        <div class="col-md-6 d-flex align-items-center justify-content-center bg-white">
            <div style="width: 350px;">
                <h5 class="mb-4 fw-semibold text-center">Login</h5>
                <form asp-action="Login" asp-controller="HomeController" method="post">
                    <div class="mb-3">
                        <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="mb-3 position-relative">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
                        <i class="fa-solid fa-eye position-absolute end-0 top-50 translate-middle-y me-3 text-muted" style="cursor: pointer;"></i>
                    </div>
                    <div class="mb-3 position-relative">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Enter confirmation password" />
                        <i class="fa-solid fa-eye position-absolute end-0 top-50 translate-middle-y me-3 text-muted" style="cursor: pointer;"></i>
                    </div>
                    <div class="mb-3">
                        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Email" />
                    </div>





                    <button type="submit" class="btn w-100 text-white" style="background-color: #307CFF;">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
